<div class="container mt-5 text-center">
  <h2><%= @restaurant.name.upcase %></h2>
  <h4><%= @restaurant.address.capitalize %></h4>
  <h5><%= @restaurant.category.capitalize %></h5>
  <div class="card m-5 col-6">
    <div class="list-group m-5 col-6" >
      <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item p-1">
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      </li>
      <% end %>
    </div>
  </div>
  <div class="card m-5 p-3 col-6">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-dark btn-sm' %>
      <% end %>
  </div>
  <%= link_to "Back", root_path, class: 'btn btn-dark btn-sm mb-5' %>
</div>
